
<h4>Survey Details</h4><br>
<div class="form-data">

    <p>Date of Survey: <b>{{survey.surveyDate}}</b></p>
    <p>First Name: <b>{{survey.firstName}}</b></p>
    <p>Last Name: <b>{{survey.lastName}}</b></p>
    <p>Address: <b>{{survey.address}}</b></p>
    <p>City: <b>{{survey.city}}</b></p>
    <p>State: <b>{{survey.state}}</b></p>
    <p>ZipCode: <b>{{survey.zipCode}}</b></p>
    <p>Telephone: <b>{{survey.telephone}}</b></p>
    <p>Email: <b>{{survey.email}}</b></p>
    <p>Most liked part about the campus?:<b>{{survey.mostLiked}}</b></p>
    <p>How do you know about us?: <b>{{survey.knowAboutUs}}</b></p>
    <p>Graduation Month: <b>{{survey.gradMonth}}</b></p>
    <p>Graduation Year: <b>{{survey.gradYear}}</b></p>
    <p>Your Recommendation: <b>{{survey.yourRecommendation}}</b></p>
    <p>Comments: <b>{{survey.comment}}</b></p>
  </div>